<% content_for(:title, '渡辺陽一モード') %>
<div class= "container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="d-flex flex-column bd-highlight mb-3">
        <h1>渡辺陽一モード</h1>
        <p>あなたは重度の早口なので荒療治が必要です<br>
           ゆっくり落ち着いて話すことを心がけましょう<br>
        渡辺陽一モードでは、渡辺陽一さんの音声がフリースタイルのBGMに乗って流れます<br>
           動画を再生してリズムに乗って声を出してみましょう！<br>
           終わったら滑舌良く話せていたかどうか点数が出ます
        </p>
      </div>
      <div class= "text-center">
      <%= image_tag 'audio_hakei.jpeg', class: 'audio_hakei_2' %>
      <%= video_tag("/movies/youichi.mp4",controls: :true, class: 'video-content', id:'video') %>
      </div>
    </div>
  </div>
</div>

<script>
  var video=document.getElementById('video');
  video.addEventListener('play', function(){
  console.log('再生しました');
  }, true);

  window.SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
    var speech = new webkitSpeechRecognition();
    speech.continuous = true;
    speech.interimResults = true;
    speech.lang = 'ja-JP';

    video.addEventListener('play', function(){
    console.log('再生しました計測をスタートします');
    speech.start();
    }, true);

    video.addEventListener('ended', function(){
      console.log("再生が終了しました")
      speech.onresult= function(e){
        speech.stop();
        if(e.results[0].isFinal){
          var autotext = e.results[0][0].transcript
          console.log("発した文字", autotext);
          
      }
      }
    }, true);
</script>