.container {
    position: relative;
    background-image: image-url("haikei.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;
.audio_hakei_2 {
    height: 15vh;
    width: 92.6%;
    
  
}
}