<nav class="navbar navbar-light fixed-top" style="background-color:linear-gradient(128deg, #EE7C5895, #a882f650, #55a2b790);">
  <%= link_to image_tag("logo.png",class:'navbar-brand'), root_path %> 
</nav>
