<header>
    <div class="fixed-top">
      <div class ="text-left">
        <div class="row">
          <div class="col">
            <%= link_to image_tag("logo.png",class:'logo mt-3 ml-3'), root_path %>
          </div>
        </div>
      </div>
    </div>
  </header>
