<div class="container">
  <div class="row">
  <div class="position-absolute h-100 w-100 m-0 d-flex flex-column align-items-center justify-content-center ">
    <h1 class="title wf-sawarabimincho pb-2">はやくちチェッカー</h1>
    <div class="fake"></div>
    <hr class="style">
    <h1 class="subtitle wf-sawarabimincho pt-2">はやくちのはやくちによるはやくちのためのアプリ</h1>
    <%= link_to games_url, data: {"turbolinks" => false} do %>
      <button class="btn btn-primary btn-lg mt-5">さっそくはじめる</button>
    <%end%>
  </div>
  </div>
</div>