<div class="container">
  <div class="row">
    <div class="position-absolute h-100 w-100 m-0 d-flex flex-column align-items-center justify-content-center ">
      <p>サービスの利用に関するお問い合わせ、不具合の報告などがございましたら、</p>
      <p>お手数ですが、以下のTwitterアカウント宛のダイレクトメールにてお知らせください。</p>
      <div class= "twitter">
      <i class="fab fa-twitter"></i>
      <%= link_to '@THEEdadapaul', 'https://twitter.com/THEEdadapaul', class:'twitter' %>
      </div>
</div>
</div>
</div>