<div class="container">
  <div class="row">
    <div class="position-absolute h-100 w-100 m-0 d-flex flex-column align-items-center justify-content-center ">
      <div class="image">
      <%= image_tag 'recording.jpg', class:'recording rounded pb-3 mb-5 border-bottom' %>
      <div id="status">スタートしたら下の文章を読み上げてみましょう</div>
      </div>
      <p class="wf-sawarabimincho sample_text mb-5">むかしむかしあるところにおじいさんとおばあさんがすんでいました</p>
      <p class="wf-sawarabimincho sample_text mb-5">おじいさんはやまへしばかりに、おばあさんはかわへせんたくにいきました</p>
      <p class="wf-sawarabimincho sample_text mb-5">おばあさんがかわでせんたくをしていると、ドンブラコ、ドンブラコと、おおきなももがながれて
      きました。</p>
      <p class="wf-sawarabimincho sample_text mb-5">ももからうまれたおとこのこを、おじいさんとおばあさんはももたろうとなづけました</p>
      <input class="form-control" id="counter" name="counter" type="text" value="00:00:00:00">
      <div class="recording_menu m-5 border-top">
      <button class="btn btn-primary btn-lg m-5" id="start_btn" style="display: none;">スタート</button>
      <button class="btn btn-primary btn-lg m-5" id="stop_btn" style="display: none;">ストップ</button>
      <div class="usemic">
      <button class = "btn btn-primary btn-lg m-5" id="mike_check" style="display: block;" >マイクチェック</button>
      </div>
    </div>
  </div>
</div>