<% content_for(:title, '計測結果') %>
<div class= "container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="d-flex flex-column bd-highlight mb-3"> 
        <div id = "result_image" ></div>
        <div id = "result_message_1" >
          <p ><font size="6" color="white"> 計測お疲れ様でした!</font></p>
        </div>
        <div id = "result_message_2" class="wf-roundedmplus1c" ></div>
        <div id = "result_message_3" class="wf-roundedmplus1c" ></div>
        <!--<p><font color="white">繰り返し練習することで話す速度を体に焼き付けましょう！</font></p>-->
      </div>
      <div class = "training_menu" >
        <div id= "mode"><font size= "3">あなたに適したトレーニングは</font></div>
        <%= link_to new_game_url, class:'replay', data: {"turbolinks" => false} do %>
          <p>▶︎REPLAY</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var result = location.search.substring(1);
    var fast_talking_score = result.split(",")[0];
    var word_count = result.split(",")[1];
    var talking_time = result.split(",")[2];
    
    if (fast_talking_score<=5.5 && fast_talking_score>=4.5) {
        $("#result_image").append( ('<img src="/assets/speed.jpg" id="image">') ); //丁度良いペース
        $("#result_message_2").append( (`<p><font color="white">あなたは<font size= "7" >理想のペースに近い</font>です！</font></p>`) );
        $("#mode").append( ('<a href="/trainings/youichi_mode"><font color="white">渡辺陽一モード</font></a>'))
    }else if (fast_talking_score<4.5) {
        $("#result_image").append( ('<img src="/assets/remi.jpg" id="image">') ); //遅い
        $("#result_message_2").append( (`<p><font color="white">あなたは<font size= "7">遅い</font>です！</font></p>`) );
        $("#mode").append( ('<a href="/trainings/youichi_mode"><font color="white">渡辺陽一モード</font></a>'))
    }else if (fast_talking_score>5.5) {
        $("#result_image").append( ('<img src="/assets/youichi.jpg" id="image">') ); //速い
        $("#result_message_2").append( (`<p><font color="white">あなたは<font size= "7">早口</font>です！</font></p>`) );
        $("#mode").append( ('<a href="/trainings/youichi_mode"><font color="white">渡辺陽一モード</font></a>'))
    }
    
    $("#result_message_3").append( (`<p><font color="white">あなたは${talking_time}秒間に${word_count}文字話しました<br>つまり1秒間に${fast_talking_score}文字のペースで話しています<br>※適切なペースは1秒間に5文字です</font></p>`) )
  });
</script>