// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
    position: relative;
    background-image: image-url("haikei.jpeg");
    background-size:cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;
h1{
    color: white;
    text-align: center;
}
 
.explanation {
    text-align:center 
}

#status {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

p {
    font-weight: 800;
    color: white;
    display: inline-block;
    text-align: left;
}

.audio_hakei {
    height: 20vh;
    width: 100%;
}


input {
    margin:0 auto;
    width:150px;
    top: 150px;
    font-size: 2rem;
}

.btn-danger {
    background: gray;
    color: white; 
    border-color: white;
    width: 120px;
    height: 45px;
    font-size: 2rem;
}

.btn-danger:hover, .btn-danger:active {
    background-color: gray !important;
    border-color: white !important;
}

@media screen and (max-width: 550px) {
    #status {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
    }
    input {
        margin:0 auto;
        width:120px;
        top: 150px;
        font-size: 3.8rem;
    }
    
}
}

