.container {
    position: relative;
    background-image: image-url("haikei.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-width: 100%;
}

#result_image {
    top:10px;
    text-align: center;
}

#result_message_1 {
    text-align: center;
}

#result_message_2 {
    text-align: center;
}

#result_message_3 {
    text-align: center;
}

#image {
    height: 250px;
    width: 300px;
}

.training_menu {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}


@media (max-width: 540px) {
  #image {
    height: 300px;
    width: 300px;
  } 
}