.top-wrapper {
  position: relative;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("voice.jpg");
  background-size: cover;
  background-position: center;
.privacy_policy {
  margin-top: 70px;
  
}
}
.container {
  position: relative;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("voice.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100%;

.title {
    font-size: 5rem;
    color: white;
    //padding-bottom: 1rem;
}

.fake {
    width: 4%;
    border-bottom: solid 2px #f4623a;
}
 
.subtitle {
    font-size: 2rem;
    //padding-top: 1rem;
    //margin: 1.5rem;
    color: white;
}

.btn{
    width: 15rem;
    height: 5rem;
    border-radius: 100px;
    //margin: 2rem;
}
.btn-primary {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #cf5331;
    border-color: #c34e2e;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #cf5331;
    border-color: #c34e2e;
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c34e2e;
    border-color: #b74a2c;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(246, 122, 88, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
  }

@media screen and (max-width: 550px) {
    .title {
        //left: 26%;
        color: white;
    }
}
}
