.top-wrapper {
    position: relative;
    background-image: image-url("home.jpeg");
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100%;

.title {
    position:absolute;
    left: 38%;
    color: white;
    
    //animation: flicker 1.5s infinite alternate;
}
/*@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #bb62bb,
        0 0 11px #bb62bb,
        0 0 19px #bb62bb,
        0 0 40px rgb(255, 0, 255),
        0 0 80px rgb(255, 0, 255),
        0 0 90px rgb(255, 0, 255),
        0 0 100px rgb(255, 0, 255),
        0 0 150px rgb(255, 0, 255);
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
  }*/


.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: 20%;
    font-weight: bold;
}

.col-color {
    color :white;
  
}

@media screen and (max-width: 550px) {
    .title {
        left: 26%;
        color: white;
    }
}
}
